.profile {
    position: relative;
}

.backgroung-img {
    background-color: darkorange;
    height:200px;
    width: 100%;
    position: absolute;
    z-index: -1;
}

.profile-img{
    height:134px;
    width:134px;
    border-radius: 50%;
    margin-top: 8rem;
    margin-bottom: .4rem;
}

.username {
   background: -webkit-linear-gradient(white, #FF9300);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn {
    background: -webkit-linear-gradient(#FF2600, #FF9300);
    color: white;
}
 
hr{
    background-color: #FF9300;
}
