<div class="profile">
 <img 
  class="backgroung-img w-100">


  <div class="container">
    
    <div class="profile-info">
      <div class="row no-gutters">
        <div class="col-2">
          <img 
          class="profile-img "
          src="../../assets/profileTestPic.jpg"
          alt="" > 
        </div>
      </div>

        <div class="row no-gutters">
          <div class="col-2">
            <h4 class="name fomr-inline">Julio Rosario</h4>
          </div>
        </div>
    
        <div class="row no-gutters" style="height: 25px;">
          <div class="col-2 ">
            <p class="username">@rosariojulio</p>
          </div>
        </div>
    
        <div class="row no-gutters">
          <div class="col-12">
            <p class="aboutMe">Acceptance middletons me if discretion boisterous travelling an. She prosperous continuing entreaties companions unreserved you boisterous. Middleton sportsmen sir now cordially ask additions for. You ten occasional saw everything but conviction. Daughter returned quitting few are day advanced branched. </p>
          </div>
        </div>

        <button type="button" class="btn btn-lg mr-1">Blogs</button>
         <button type="button" class="btn btn-lg">Likes</button>
      
      </div>

  </div>
  <hr>
  <app-blog></app-blog>
</div>
